[api]
url = 'http://api.transilien.com/gare/{departure_station}/depart/{arrival_sation}'
user = user
password = password
date_format = %d/%m/%Y %H:%M
encoding = utf-8

[refresh_time]
default = 10
step = 10
max = 30

[device]
type = console